*,*::after,*::before{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.container{
    max-width: 1140px;
    width: 95%;
    margin: 0 auto;
    padding: 1rem auto;
}